# Logs
logs
*.log
npm-debug.log*

# Dependencies - ignore in all subfolders
**/node_modules/

# Build output
**/dist/
**/build/

# Environment variables
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Coverage reports
**/coverage/

# Editor directories and files
**/.idea/
**/.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db
